NAMESPACE=carelink
API_DEPLOYMENT=carelink-api
DB_DEPLOYMENT=carelink-db
API_SERVICE=carelink-api
DB_SERVICE=carelink-db
DB_SECRET=carelink-db-secret
DB_NAME=CareLink
MSSQL_SA_PASSWORD=YourStrong!Passw0rd
API_REPLICAS=2
DB_REPLICAS=1
API_AUTOSCALING_ENABLED=false
API_HPA_MIN_REPLICAS=1
API_HPA_MAX_REPLICAS=10
API_HPA_TARGET_CPU_PERCENT=70
DOCKER_IMAGE=carelink-api:local
DOCKER_REGISTRY=
KIND_CLUSTER_NAME=carelink-local
KIND_NODE_IMAGE=kindest/node:v1.30.0
